<div class="container">
  <h3>BUTTON</h3>
  <hr>
  <h4>Button Color</h4>
  <button type="button" name="button" class="btn">default</button>
  <button type="button" name="button" class="btn btn-dark">dark</button>
  <button type="button" name="button" class="btn btn-green">green</button>
  <button type="button" name="button" class="btn btn-orange">orange</button>
  <button type="button" name="button" class="btn btn-blue">blue</button>
  <button type="button" name="button" class="btn btn-red">red</button>
  <xmp>
    <button type="button" name="button" class="btn">default</button>
    <button type="button" name="button" class="btn btn-dark">dark</button>
    <button type="button" name="button" class="btn btn-green">green</button>
    <button type="button" name="button" class="btn btn-orange">orange</button>
    <button type="button" name="button" class="btn btn-blue">blue</button>
    <button type="button" name="button" class="btn btn-red">red</button>
  </xmp>
  <h4>Button Size</h4>
  <button type="button" name="button" class="btn btn-green btn-xs">Extra Small</button>
  <button type="button" name="button" class="btn btn-green btn-sm">Small</button>
  <button type="button" name="button" class="btn btn-green">Default</button>
  <button type="button" name="button" class="btn btn-green btn-lg">Large</button>
  <xmp>
    <button type="button" name="button" class="btn btn-green btn-xs">Extra Small</button>
    <button type="button" name="button" class="btn btn-green btn-sm">Small</button>
    <button type="button" name="button" class="btn btn-green">Default</button>
    <button type="button" name="button" class="btn btn-green btn-lg">Large</button>
  </xmp>
  <h4>Button Full width</h4>
  <button type="button" name="button" class="btn btn-green btn-block">Full Width</button>
  <xmp>
    <button type="button" name="button" class="btn btn-green btn-block">Full Width</button>
  </xmp>
  <h4>Button Disabled</h4>
  <button type="button" name="button" class="btn" disabled>default</button>
  <button type="button" name="button" class="btn btn-dark" disabled>dark</button>
  <button type="button" name="button" class="btn btn-green" disabled>green</button>
  <button type="button" name="button" class="btn btn-orange" disabled>orange</button>
  <button type="button" name="button" class="btn btn-blue" disabled>blue</button>
  <button type="button" name="button" class="btn btn-red" disabled>red</button>
  <xmp>
    <button type="button" name="button" class="btn" disabled>default</button>
    <button type="button" name="button" class="btn btn-dark" disabled>dark</button>
    <button type="button" name="button" class="btn btn-green" disabled>green</button>
    <button type="button" name="button" class="btn btn-orange" disabled>orange</button>
    <button type="button" name="button" class="btn btn-blue" disabled>blue</button>
    <button type="button" name="button" class="btn btn-red" disabled>red</button>
  </xmp>
</div>
