<div class="container">
  <h3>COLOR</h3>
  <hr>
  <h4>Main Color</h4>
  <div class="row center-both">
    <div>
      <div class="box bg-blue"></div>
      <br>
      <div class="center-both">
        Blue
      </div>
    </div>
    <div>
      <div class="box bg-green"></div>
      <br>
      <div class="center-both">
        Green
      </div>
    </div>
    <div>
      <div class="box bg-orange"></div>
      <br>
      <div class="center-both">
        Orange
      </div>
    </div>
    <div>
      <div class="box bg-red"></div>
      <br>
      <div class="center-both">
        Red
      </div>
    </div>
    <div>
      <div class="box bg-light"></div>
      <br>
      <div class="center-both">
        Light
      </div>
    </div>
    <div>
      <div class="box bg-dark"></div>
      <br>
      <div class="center-both">
        Dark
      </div>
    </div>
  </div>
  <xmp>
    <div class="box bg-blue">Blue</div>
    <div class="box bg-green">Green</div>
    <div class="box bg-orange">Orange</div>
    <div class="box bg-red">Red</div>
    <div class="box bg-light">Light</div>
    <div class="box bg-dark">Dark</div>
  </xmp>
</div>
