<div class="banner">
  <div class="container">
    <h1 class="title ft-white">Srikandi 1.0</h1>
    <h1 class="small ft-light">Srikandi is HTML & CSS framework for developing responsive web page.</h1>
  </div>
</div>
<div class="row">
  <div class="col-xl-9">
    <ui-view></ui-view>
  </div>
  <div class="col-xl-3">
    <h3>CSS Components</h3>
    <ul class="components">
      <li ui-sref="main.home">Home</li>
      <li ui-sref="main.color">Color</li>
      <li ui-sref="main.grid">Grid</li>
      <li ui-sref="main.button">Button</li>
    </ul>
  </div>
</div>
